<% if @mistake %>
<p>
不正解！あなたが選んだ答は<%= @mistake %>番です。
</p>
<% else %>
<p>
正解！
</p>
<%end%>

<%= @question.explanation %>
<% @question.choices.each{|c| %>
<p><%= c.description %></p>
<p><%= c.explanation %></p>
<%  } %>
