
<h1>登録問題一覧</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Explanation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render @questions %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
