<div class='choices'>
  <% if @question.single? %>
    <%= radio_button_tag "choice", choice.choice_number %>
  <% else %>
    <%= check_box :choice, choice.choice_number %>
  <% end %>

  <%= label_tag  "choice_#{choice.choice_number}",
    content_tag(:pre, choice.description)
   %>
</div>
