#headder {
	background: #99cc99;
	padding: 10px;
	border-bottom: 2px solid;
	#title_area{
		width: 80%;
		margin: auto;
		font: small-caps 40px/40px "Times New Roman", serif;
		color: #228822;
		text-align: center;
		img {
			float: left;
		}
		#global_navigation {
			float:none;
      width:80%;
      padding:0;
			ul {
				list-style: none;
				li{
					display: inline;
				}
			}
		}
	}
}

#notice {
	color: #000000 !important;
	border: 2px solid red;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
	font: bold smaller sans-serif;
}

#columns {
	background: #114411;
	#main {
		margin: auto;
		width: 80%;
		padding: 1em;
		background: white;
	}
}

.depot_form {
	fieldset {
		background: #eeffee;
		
		legend {
			color: #ddffdd;
			background: #114411;
			font-family: sans-serif;
			padding: 0.2em 1em;
		}
	}
	
	form {
		label {
			width: 5em;
			float: left;
			text-align: right;
			padding-top: 0.2em;
			margin-right: 0.1em;
			display: block;
		}
		
		select, textarea, input {
			margin-left: 0.5em;
		}
		
		.submit {
			margin-left: 4em;
		}
		
		br {
			display: none;
		}
	}
}