// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.questions{
  position:relative;
  // multi column
  div#columns{
    div.choices{
      padding: 0 1em;
      float:left;
      width: 40%;
      
      input {
        display:block;
        border: thin solid black;
        //vertical-align: middle;
        //margin-top: 5em;
        float:left;
      }
      label > pre{
        margin: 0.5em;
      }
    }
    .clear-fix{
      clear: both;
    }
  }
  .bottom{
    position:absolute;
    bottom: 2em;
  }

}
@media screen and (max-width: 770px) {
  //single column
.questions{
  div#columns{
      div.choices{
	float: none;
	width: 100%;
	input {
	  float:none;
	}
      }
    }
  }
}
