// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sessions {
  fieldset {
    background: #efe;
  }
  
  h2 {
    color: #0000ff;
    text-align: center;
  }
  
  div.admin {
    color: #0000ff;
    text-align: center;
    padding: 1em;
  }
  div#login>input {
    width: 150px;
    height: 50px;
    font-size: 1.2em;
  }

}